<div class="contenedor">
    <div class="pilasBox">
        <div class="boxImg">
            <img src="../../../assets/images/griegos.jpg" alt="músicos-era-primera">
        </div>
        <div class="boxText">
            <p>La palabra "música" proviene de las musas griegas,
                que inspiraban los cantos y bailes. En términos científicos,
                la música es el arte de organizar los sonidos.</p>
        </div>
        <div class="boxIframe">
            <iframe src="https://www.youtube.com/embed/0FvnsJ9Q5gQ" frameborder="0"  allow="autoplay;" ></iframe>
        </div>
        <div class="boxIframe">
            <iframe src="https://www.youtube.com/embed/0FvnsJ9Q5gQ" frameborder="0"  allow="autoplay;" ></iframe>
        </div>
        <div class="boxImg">
            <img src="../../../assets/images/griegos.jpg" alt="músicos-era-primera">
        </div>
        <div class="boxText">
            <p>
                Todos los seres humanos escuchamos música en algun momento de
                nuestra vida, aunque por lo regular nunca nos damos cuenta que
                efectos causa los sonidos en nuestro cuerpo.
            </p>
        </div>
        <div class="boxImg">
            <img src="../../../assets/images/griegos.jpg" alt="músicos-era-primera">
        </div>
        <div class="boxText">
            Así como los pintores y escultores usan trazos, colores y formas
            para expresarse los musicos usan las propiedades del sonido.
            Eligen notas de distinto tono para combinarlas.
        </div>
        <div class="boxIframe">
            <iframe src="https://www.youtube.com/embed/0FvnsJ9Q5gQ" frameborder="0"  allow="autoplay;" ></iframe>
        </div>
        <div class="boxText">
            <p>
                En la época clasica se encontro nuevas formas musicales
                como lo fue en los cuartetos de cuerdas,sonatas,
                conciertos y sinfonías. Haydn, Mozart y Beethoven,
                fueron grandes maestros en estas formas.
            </p>
        </div>
        <div class="boxIframe">
            <iframe src="https://www.youtube.com/embed/0FvnsJ9Q5gQ" frameborder="0"  allow="autoplay;" ></iframe>
        </div>
        <div class="boxImg">
            <img src="../../../assets/images/griegos.jpg" alt="músicos-era-primera">
        </div>
    </div>
</div>

