.contenedor{
    background: black;
    display: flex;
    justify-content: center;
}
.pilasBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    gap: 20px;
    margin: 2%;
}

.boxImg{
    border: 10px double #B636FF;
    border-radius: 10px;
}
.boxImg img{
    width: 100%;
}
.boxText{
    border: 10px double #429834;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 2%;
    color: #ffffff;
    font-size: x-large;
}
.boxIframe{
    border: 10px double #0D4BFF;
    border-radius: 10px;
}
.boxIframe iframe{
    width: 100%;
    height: 100%;
}