<div class="contenedor">
    <div class="boxTexto">
        <h4>La música es...</h4>
        <span> Melodía, ritmo y armonía, combinados.</span>
        <p>
            La música está presente en todas partes, es la forma más común
            de comunicación en la humanidad, no sólo se escucha, también se
            siente, toca vibras sin importar si entendemos el idioma del otro,
            simplemente se conecta,
            Aqui puedes pasar por toda la linea musical, desde su historia
            hasta el presente.
        </p>
    </div>
    <div class="pilasBox">
        <div class="boxImg">
            <img src="https://images.pexels.com/photos/30132757/pexels-photo-30132757/free-photo-of-primer-plano-de-un-instrumento-musical-tradicional-marroqui.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="músicos-era-primera">
        </div>
        <div class="boxText">
            <p>La palabra "música" proviene de las musas griegas,
                que inspiraban los cantos y bailes. En términos científicos,
                la música es el arte de organizar los sonidos.</p>
        </div>
        <div class="boxIframe">
            <iframe src="https://www.youtube.com/embed/0FvnsJ9Q5gQ" frameborder="0"  allow="autoplay;" ></iframe>
        </div>
        <div class="boxIframe">
            <iframe width="1513" height="569" 
                src="https://www.youtube.com/embed/ED_Mok754DQ" 
                title="TED / Efecto de la música en el cerebro = 
                Efecto Esperanza Azteca" frameborder="0" allow="
                accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture; web-share" referrerpolicy="s
                trict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="boxImg">
            <img src="https://images.pexels.com/photos/6192337/pexels-photo-6192337.jpeg" alt="músicos-era-primera">
        </div>
        <div class="boxText">
            <p>
                Todos los seres humanos escuchamos música en algun momento de
                nuestra vida, aunque por lo regular nunca nos damos cuenta que
                efectos causa los sonidos en nuestro cuerpo.
            </p>
        </div>
        <div class="boxImg">
            <img src="https://images.pexels.com/photos/7521300/pexels-photo-7521300.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="músicos-era-primera">
        </div>
        <div class="boxText">
            Así como los pintores y escultores usan trazos, colores y formas
            para expresarse, los músicos usan las propiedades del sonido.
            Eligen notas de distinto tono para combinarlas.
        </div>
        <div class="boxIframe">
            <iframe width="1513" height="569" src="https://www.youtube.com/embed/JFYm2e6w1jk" 
            title="🔊¡Descubre las cualidades del sonido y su relación con la música!🎶" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen></iframe>
        </div>
        <div class="boxText">
            <p>
                En la época clásica se encontro nuevas formas musicales
                como lo fue en los cuartetos de cuerdas,sonatas,
                conciertos y sinfonías. Haydn, Mozart y Beethoven,
                fueron grandes maestros en estas formas.
            </p>
        </div>
        <div class="boxIframe">
            <iframe width="1513" height="569" src="https://www.youtube.com/embed/mQDCkXZpF8s"
            title="El Cuarteto de Cuerdas (Historia, estructura e importancia)" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
            picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
        <div class="boxImg">
            <img src="https://images.pexels.com/photos/7095812/pexels-photo-7095812.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="músicos-era-primera">
        </div>
    </div>
</div>

