<div class="contenedor">
    <div class="menu">
        <ul>
            <li><h3>Sabias que...</h3></li>
            <li>
                John Lee Hooker fue un importante
                músico de blues, un tipo de música
                que ha influido mucho en el pop estadounidense.
            </li>
            <li>
	            Elvis Presley revolucionó la música
                pop de la década de 1950. Fue una de
                las primeras estrellas del rock and roll.
            </li>
            <li>
	            La brítanica Evelyn Glennie Es una de las
                mejores percusionistas del mundo. Es sorda,
                pero sientelas vibraciones de la música a través del tacto.

            </li>
            <li>
                Ludwig van Beethoven compuso piezas 
                impresionantes a pesar de ser sordo.
            </li>
            <li>
                Madona ha sido una de las cantantes más 
                exitosas en los ultimos tiempos, siendo 
                llamada la 	reina del pop.
            </li>
            <li>
	            Juanes cantante colombiano, convirtio 
                uno de sus primeros albumes (Un Dia Normal), 
                en ser 	uno de los albumes en español más 
                vendidos a nivel mundial.
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="boxesVideo">
            <h3>Artistas del mundo ...</h3>
            <p>En el mundo músical, existen gran variedad de artistas,
                que se distiguen por particulariedades en : composición,
                voz, y otras caracteristicas más.
                Pero algunos de estos artistas, han logrado que los
                reconozcan hasta en los lugares más reconditos de la tierra,
                donde no se habla su idioma, sólo la conexión musical
                el ritmo, hace que se sienta y se vibre con sus melodias.
            </p>
        </div>
        <div class="boxesVideo">
            <iframe src="https://www.youtube.com/embed/RNXTbBQhFQ4" frameborder="0"></iframe>
        </div>
        <div class="box">
            <h3>Wolfgang Amadeus Mozart.</h3>
            <p>                
		        Nació en Austria y desde muy pequeño mostró tener
                enormes dotes musicales. A los 4 años como niño 
                prodigio del piano y a los 5 años como compositor.
                A los 13 años Amadeus ya había compuesto su 
                primera opera e interpretado el violin para las 
                personalidades más importantes de europa. 
                Trabajó hasta que su cuerpo no aguanto el desgaste 
                y  murio a los 35 años.
            </p>
        </div>
        <div class="box">
            <img src="https://th.bing.com/th/id/OIP.bibzQB_mpfM14eAWIFsmBwHaEK?w=277&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7" alt="Amadeus Wolfrain Mozart">
        </div>
    </div>
</div>
