<div class="contenedor">
    <div class="content">
        <div class="boxesG">
            <h3>¿Que es un género músical?</h3>
            <p>
                Un género musical es "clasificado" 
                por diferentes criterios como lo es la 
                instrumentación, ritmo, armonia, texto etc. 
                En la actualidad la palabra género musical 
                usada en contextos no academicos, como los 
                comerciales, en la sociedades de autores, 
                es usada como estilo musical.
            </p>
        </div>
        <div class="boxesG">
            <iframe 
                src="https://www.youtube.com/embed/zm_bF8bSC-A" 
                frameborder="0">
            </iframe>
        </div>
        <div class="boxesGText">
            <p>
                Sin embargo, uno de los inconvenientes al agrupar
                música por géneros reside en que se trata de un 
                proceso subjetivo que resulta muy influido por el 
                conocimiento personal y la forma de cada uno de sentir 
                y escuchar la música.
                Algunas personas sienten que la categorización de 
                la música en géneros se basa más en motivos comerciales 
                y de mercado que en criterios musicales. 
            </p>
        </div>
        <div class="boxesGImg">
            <img 
            src="https://images.pexels.com/photos/29216171/pexels-photo-29216171/free-photo-of-su-corazon-yo-lo-protejo.jpeg?auto=compress&cs=tinysrgb&w=600" 
            alt="Cds generos musicales">
        </div>
    </div>
    <div class="menu">
        <ul>
            <li><h3>Sabias que...</h3></li>
            <li>
                La única evidencia que se conserva de la música 
                precolombina se encuentra en crónicas escritas 
                en el siglo XVI por los conquistadores españoles 
                y prtugueses, asi como por los 	misioneros.
            </li>
            <li>
                El pop es el estilo o genero de música que ha 
                dominado las listas desde su aparición, a principios 
                de la década de los 1960.
            </li>
            <li>
                Una de las maneras de producir música es el canto 
                de la llamada  y respuesta, durante el 	cual el 
                coro repite un estribillo fijo que se alterna con 
                la voz del cantante solista, quien 	dispone de mayor 
                libertad para improvisar.
            </li>
            <li>
                La  música árabe se crea a partir del uso de sistemas 
                melódicos y rítmicos no armonicas.
            </li>
        </ul>
    </div>
</div>
