<div class="contenedor">
    <div class="content">
        <div class="boxText">
            <h3>En la actualidad ...</h3>
            <p>
                En la actualidad los estilos más escuchados a nivel
                mundial son la electronica, pop en inglés, rock,
                electro-pop, regueton, aunque día a día se crean nuevos
                sonidos, nacen nuevos artistas etc, ahora solo elige
                los sonidos que más te agradan a tus oidos, y canta a
                grito herido las letras con las que más conectes...
                en conclusión vive la música!!
            </p>
        </div>
        <div class="boxCarousel">
            <img src="https://images.pexels.com/photos/7802328/pexels-photo-7802328.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-fluid" alt="cartel de musica">
        </div>
        <div class="boxSunText">
            <p>
                Todas estas nuevas canciones las podemos
                encontrar en platafomas digitales dirigidas única y exclusivamente a los
                amantes de la música.
            </p>
        </div>
        <div class="box">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Top 5, tendencias en música YouTube
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    <strong> Top 1: Elder Dayán Díaz y Lucas Dangond - El Picantico (Video Oficial)</strong>
                                    <a href="https://www.youtube.com/embed/ze3GoLHKcoQ" >Ver video en Youtube</a>
                                </li>
                                <li>
                                    <strong> Top 2: Cazzu - Con contra (Video Oficial)</strong>
                                    <a href="https://www.youtube.com/watch?v=OA3KsYPhZbw">Ver video en youtube</a>
                                </li>
                                <li>
                                    <strong> Top 3: BLESSD EL BENDITO  - TE CANTO BAJITO (Video Oficial)</strong>
                                    <a href="https://www.youtube.com/watch?v=4wcbJGoDvqM&pp=0gcJCb8Ag7Wk3p_U">Ver video en youtube</a>
                                </li>
                                <li>
                                    <strong> Top 4: Miguel Bueno x Juan Duque - Solcito (Video Oficial)</strong>
                                    <a href="https://www.youtube.com/watch?v=E0Onxk8MFzw">Ver video en youtube</a>
                                </li>
                                <li>
                                    <strong> Top 5: Kapo - UWAIE (Video Oficial)</strong>
                                    <a href="https://www.youtube.com/watch?v=eFQ0tj3t7v8">Ver video en youtube</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Top 5, tendencias música en Spotify
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                           <ul>
                            <li>
                                <strong>Top 1:Lady Gaga, Bruno Mars - Die With a Smile </strong>
                                <a href="https://open.spotify.com/intl-es/track/7so0lgd0zP2Sbgs2d7a1SZ?si=bd569c7a2c56415d">
                                    Escuchar en Spotify
                                </a>
                            </li>
                            <li>
                                <strong>Top 2:Rosé, Bruno Mars - APT </strong>
                                <a href="https://open.spotify.com/intl-es/track/4wJ5Qq0jBN4ajy7ouZIV1c?si=77d75a3efaa745b6">
                                    Escuchar en Spotify
                                </a>
                            </li>
                            <li>
                                <strong>Top 3: Billie Eilish - Birds of a Feather</strong>
                                <a href="https://open.spotify.com/intl-es/track/6dOtVTDdiauQNBQEDOtlAB?si=832e848892764adf">
                                    Escuchar en Spotify</a>
                            </li>
                            <li>
                                <strong>Top 4:Alex Warren - Ordinary</strong>
                                <a href="https://open.spotify.com/intl-es/track/2RkZ5LkEzeHGRsmDqKwmaJ?si=3624149ee16e4d53">
                                    Escuchar en Spotify
                                </a>
                            </li>
                            <li>
                                <strong>Top 5:Doechi - Anxiety</strong>
                                <a href="https://open.spotify.com/intl-es/track/3LPLRNr58Z9Pn0clnEtkXb?si=ca462951be204c62">
                                    Escuchar en Spotify
                                </a>
                            </li>
                           </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>
                <h3>Sabias que ...</h3>
            </li>
            <li>
                La música latina generó en EE.UU. unos ingresos 
                récord de 1.400 millones de dólares en 2024.
            </li>
            <li>
            Lady Gaga
            Será en febrero cuando Lady Gaga vuelva a primera 
            línea con su octavo álbum de estudio. Lo hace después 
            de acariciar el éxito con su reciente colaboración con 
            Bruno Mars Die With a Smile.
            </li>
            <li>
                “Las Mujeres Ya No Lloran World Tour” de Shakira,
                se convirtió en el tour más exitoso del primer semestre del año 2025.
            </li>
            <li>
                Miguel Bosé, regresa a los escenarios estadounidenses con 
                su “Importante Tour” tras ocho años de ausencia.
            </li>
            <li>
                Alejandra Guzmán, la “Reina del Rock”, se prepara para llevar
                su enérgico “Brilla U.S. Tour” a más de 20 ciudades de Estados Unidos. 
            </li>
        </ul>
    </div>
</div>