<div class="contenedor">
    <div class="menu">
        <ul>
            <li><h3>Sabias que...</h3></li>
            <li>La música tribial africana es 
                una de las formas musicales
                más antiguas que aún existen.
                Siempre va acompañada con tambores.
            </li>
            <li>
                El jazz nació en Nueva Orleans a 
                principios del siglo XX y aún es 
                una importante forma musical.
                A diferencia de la música escrita,
                exige que los músicos improviseen,
                es decir, que inventen la musica a
                medida que tocan.
            </li>
            <li>
                A mediados de los años 30 se hizo
                popular la música de las grandes bandas, 
                conocida 	como "swing" , asi como los 
                lideres de bandasestadounidensas del 	
                estilo 	de Glenn Miller, quien era 
                conocido en todo el mundo.
            </li>
            <li>
                Al combinar los sonidos de la voz humana 
                y de los instrumentos, producen 		
                sensaciones de tristeza, alegria u otros.
            </li>
            <li>
                En la década de 1910 los futuristas italianos, 
                liderados por el compositoe Luigui 	Russolo,
                concibieron una música creada ruidos y cajas
                de música electrónicas. Fue entonces cuando 
                aparecieron los primeros instrumentos musicales 
                electrónicos comerciales.
            </li>
            <li>
                La música de latinoamerica  y america central se 
                deriva de tradiciones españolas, portugueses e 
                italianas y es deudoras de las influencias africanas 
                y de los indigenas 	africanos.
            </li>
            <li>
                El arpa procedente de Europa había sido asimilada 
                en la música folclórica mexicana y peruana, y 
                la marimba africana en la música de la america central.
            </li>
        </ul>
    </div>
    <div class="content">
       <div class="boxesVideo">
        <h2>Un poco de historia...</h2>
       <p>
        Las primeras formas de música quizás tuvieron un fin practico.
        La gente bailaba y cantaba porque el extraño poder de la música
        le daba valor para cazar animales salvajes. También usaban la
        música para adorar a sus dioses o para acompañarse mientras trabajaban.
        Estas formas de música aún existen.
       </p>
       </div>
       <!-- <div class="boxes">
        <img src="https://images.pexels.com/photos/2188012/pexels-photo-2188012.jpeg?auto=compress&cs=tinysrgb&w=600"
        alt="bailar">
       </div> -->
       <div class="boxesVideo">
        <iframe 
        src="https://www.youtube.com/embed/If_T1Q9u6FM" 
        frameborder="0"
        allow="autoplay; encrypted-media" allowfullscreen
        ></iframe>
       </div>
       <div class="boxes">
        <img src="https://images.pexels.com/photos/114820/pexels-photo-114820.jpeg?auto=compress&cs=tinysrgb&w=600" 
        alt="diversos dispositivos musicales">
       </div>
       <div class="boxesTexto">
        Desde el siglo XIII hasta nuestros días, la música occidental se divide en
        varios periodos: el renacimiento, el barroco, el clásico y los románticos.
        Pasando por infinidad de ritmos y letras poeticas, romanticas, melancolicas, 
        dramaticas etc, la música del siglo XX se ha caracterizado por la explosion 
        de estilos musicales puesto que surgieron el rock, jazz, blues y pop entre otros.
        Además la ciencia tecnológica y la evolución cibérnetica han facilitado el acceso 
        de la música a todas partes.
       </div>
    </div>
</div>
