<div class="contenedor">
    <div class="texto">
        <h1>Curiosidades del mundo musical</h1>
    </div>
    <div class="fichas">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Escuchar música es una de las pocas actividades que implican el uso de todas las partes de nuestro
                    cuerpo.

                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Al escuchar rock o pop nuestra resistencia fisica aumenta en un 15%
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    La música es escuchada en áreas del cerebro diferentes a la de los recuerdos, por eso las personas con
                    alzheimer son capaces de recordar melodías de su pasado.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Tocar algún intrumento musical puede mejorar la communicación verbal.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Escuchar música alta puede provocar que bebamos bebidas más rapido en menos tiempo. Ahora entendemos
                    por qué la música está tan alta en las discotecas.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Las flores pueden crecer más rápido si hay música a su alrededor.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Tener una canción en la mente todo el día es un fenomeno conocido como "gusano musical."
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    La melomanía es un amor desordenado por la música.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Los poderosos órganos de iglesia tienen uno o más teclados y varios grupos de tubos.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Thomas Alva Edison inventó el fonógrafo en 1877. Grababa el sonido con un cilindro de estaño.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    No nos gusta la versión original de una canción porque sea mejor, sino, porque es la primera
                    versión que escuchamos.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Cantar o tocar instrumentos musicales puede ayudar en la depresión.
                </p>
            </div>
        </div>
    </div>
</div>